<%
function extractBaseUrl(url) {
  return '/' + url.replace(/page\/\d+\//, '');
}

function getUrl(baseUrl, page) {
  if(page == 1)
    return baseUrl;
  return baseUrl + 'page/' + page + '/';
}

var pageBaseUrl = extractBaseUrl(page.current_url);
%>

<% if (page.total > 1){ %>
  <nav class="pagination is-small blog-paginator" role="navigation" aria-label="pagination">
    <% if(page.current > 1) { %>
      <a class="pagination-previous" href="<%- url_for(page.prev_link) %>">上一页</a>
    <% } %>
    <% if(page.current < page.total) { %>
      <a class="pagination-next" href="<%- url_for(page.next_link) %>">下一页</a>
    <% } %>

    <ul class="pagination-list">
      <% for(var i = 1; i <= page.total; i++) {  
        if(i == page.current) { %>
        <li><a class="pagination-link is-current" href="<%- getUrl(pageBaseUrl, i) %>"><%- i %></a></li>
      <% } else { %>
        <li><a class="pagination-link" href="<%- getUrl(pageBaseUrl, i) %>"><%- i %></a></li>
      <% } }%>
    </ul>
  </nav>  
<% } %>

