<div class="columns">
<article class="column is-three-fifths card">
  <div class="card-content">
      <h1 class="blog-title"><%= page.title %></h1>
      <div class="media">
        <div class="media-left">
          <figure class="image is-32x32 avatar">
            <img src="<%- url_for(theme.avatar) %>">
          </figure>
        </div>
        <div class="media-content">
          <a href="<%- url_for('/about') %>"><%- config.author %></a> 发布于 <%- date(page.date, "YYYY-MM-DD") %>
        </div>
        <div class="media-right">
          <nav class="breadcrumb blog-categories" aria-label="breadcrumbs">
            <ul>
              <% 
              if(page.categories) {
              for(var i = 0; i < page.categories.length; i++) { %>
                <li>
                <a href="<%- url_for(page.categories.data[i].path) %>">
                  <%= page.categories.data[i].name %>
                </a>
                </li>
                <% }} %>
            </ul>
          </nav>
        </div>
      </div>
      <div class="blog-tags">
        <% 
        if(page.tags){
        for(var i = 0; i < page.tags.length; i++) { %>
            <a href="<%- url_for(page.tags.data[i].path) %>">
                <span class="tag is-info"><%= page.tags.data[i].name %></span>
            </a>
        <% }} %>
      </div>
      <div class="blog-content">
      <%- page.content %>
    </div>
    <div id="gitalk-container"></div>
  </div>

  <div class="columns">
    <div class="column">
      <% if(page.prev) {%>
      <div class="blog-page-nav has-text-left">上一篇:<a href="<%- url_for(page.prev.path) %>"><%= page.prev.title %></a></div>
      <% } else {%>
      <div class="blog-page-nav has-text-left">已经是第一篇</div>
      <% }%>
    </div>
    <div class="column">
      <% if(page.next) {%>
      <div class="blog-page-nav has-text-right">下一篇:<a href="<%- url_for(page.next.path) %>"><%= page.next.title %></a></div>
      <% } else {%>
      <div class="blog-page-nav has-text-right">已经是最后一篇</div>
      <% }%>
    </div>
  </div>
</article>
<div class="column is-hidden-mobile">
  <div>
  <nav id="blog-toc" class="toc card"></nav>
  </div>
</div>
</div>
<%- css('https://unpkg.com/gitalk/dist/gitalk.css') %>
<%- js('https://unpkg.com/gitalk/dist/gitalk.min.js') %>
<script type="text/javascript">
  var gitalk = new Gitalk({
    clientID: 'eef104d0af3f1fa5b9c8',
    clientSecret: '881d2f3387d10c0fb2f4e7ee8281e326b69e9df6',
    repo: 'blog-gitalk',
    owner: 'drriguz',
    admin: ['drriguz'],
    proxy: "https://cors.riguz.workers.dev/https://github.com/login/oauth/access_token",
    id: location.pathname,      // Ensure uniqueness and length less than 50
    distractionFreeMode: false  // Facebook-like distraction free mode
  })
  console.log(location.pathname);
  gitalk.render('gitalk-container')
</script>