<div class="columns">
<article class="column is-three-fifths card">
  <div class="card-content">
    <div>
      <h1 class="blog-title"><%= page.title %></h1>
      <div class="blog-meta">
        <nav class="breadcrumb blog-categories" aria-label="breadcrumbs">
          <ul>
            <% for(var i = 0; i < page.categories.length; i++) { %>
              <li>
              <a href="<%- url_for(page.categories.data[i].path) %>">
                <%= page.categories.data[i].name %>
              </a>
              </li>
              <% } %>
          </ul>
        </nav>
        <div class="blog-subtitle">发布于 <%- date(page.date, "YYYY-MM-DD") %></div>
      </div>
      <div class="blog-content">
      <%- page.content %>
      </div>
      <div class="blog-tags">
        <% for(var i = 0; i < page.tags.length; i++) { %>
        <a href="<%- url_for(page.tags.data[i].path) %>">
          <span class="blog-tag"><i class="fa fa-tag"></i><%= page.tags.data[i].name %></span>
        </a>
        <% } %>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <% if(page.prev) {%>
      <div class="blog-page-nav has-text-left">上一篇:<a href="<%- url_for(page.prev.path) %>"><%= page.prev.title %></a></div>
      <% } else {%>
      <div class="blog-page-nav has-text-left">已经是第一篇</div>
      <% }%>
    </div>
    <div class="column">
      <% if(page.next) {%>
      <div class="blog-page-nav has-text-right">下一篇:<a href="<%- url_for(page.next.path) %>"><%= page.next.title %></a></div>
      <% } else {%>
      <div class="blog-page-nav has-text-right">已经是最后一篇</div>
      <% }%>
    </div>
  </div>
</article>
<div class="column">
  <div>
  <nav id="blog-toc" class="toc"></nav>
  </div>
</div>
</div>